---
---

@import "{{ site.theme }}";

.social-links {
  display: flex;
  gap: 12px;
  margin-top: 12px;
  align-items: center;
}

.social-links a img {
  opacity: 0.75;
  transition: opacity 0.2s;
}

.social-links a:hover img {
  opacity: 1.0;
}